streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
chromadb
sentence-transformers
faiss-cpu
python-dotenv
pypdf
tiktoken
openai
huggingface-hub
youtube-transcript-api
pytube
psycopg2-binary
